body {
  font-family: Arial, sans-serif;
  background-color: #f4F6F8 ;
  MARGIN:0;
  padding: 0;
}

h1 {
  color: #2C3E50;
}

h2 {
  color:#34495e;
  border-bottom:2px soloid #3498db;
  padding-bottom:5px
  margin-top: 25px;
}
